<div class="page">
  <form [formGroup]="form" (ngSubmit)="onRegister(form)">
    <div fxLayout="column" fxLayoutAlign="center center" class="container line">
      <div class="line">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>
      </div>
      <div class="line">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput />
        </mat-form-field>
      </div>
      <div class="center-content">
        <button mat-raised-button color="primary">Register</button>
      </div>
    </div>
    <div>
      <button
        type="button"
        mat-icon-button
        color="primary"
        (click)="onNeedToLoginClick()"
      >
        Want to login?
      </button>
    </div>
  </form>
</div>
