#left-side {
  width: 80%;
  background-color: white;
}

#right-side {
  width: 20%;
  background-color: #d9d9d9 ;
  background-image: url("../../assets/images/topography.svg");
}

// #right-side::after {
//   content: "";
//   background: url("../../assets/images/fractal.jpeg");
//   opacity: 0.5;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
//   background-color: lightblue;
// }

#container {
  height: 100%;
  display: flex;
}
